<div class="centered-box">
    <h1>Some really great Javascript Libraries to build games</h1>
    <h2>These all work directly in the browser too!</h2>
    <div class="game-libs">
        <div class="game-lib">
            <img src="/assets/phaser.logo.png" />
            <h2><a href="http://phaser.io/" target="_blank">Phaser.io</a></h2>
        </div>
        <div class="game-lib">
            <img src="/assets/three.logo.jpeg" />
            <h2><a href="https://threejs.org/" target="_blank">Three.js</a></h2>
        </div>
    </div>
</div>