<div class="centered-box">
    <h1>You can also learn how to build robots too!</h1>
    <h2>Best starting tools are Arduinos or Raspberry Pis</h2>
    <div class="robotics-libs">
        <div class="robotics-lib">
            <img src="/assets/arduino.logo.png" />
            <h2><a href="https://www.arduino.cc/" target="_blank">https://www.arduino.cc/</a></h2>
        </div>
        <div class="robotics-lib">
            <img src="/assets/rpi.logo.png" />
            <h2><a href="https://www.raspberrypi.org/" target="_blank">https://www.raspberrypi.org/</a></h2>
        </div>
    </div>
</div>