<div class="centered-box">
    <h1>Games are a great way to learn programming!</h1>
    <h2>The best way to start learning how to make games is by learning Javascript</h2>
    <div class="learn-js">
        <img src="/assets/js.logo.png" />
        <h2>Learn more about Javascript by going to: <a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript" target="_blank">https://developer.mozilla.org/en-US/docs/Learn/JavaScript</a></h2>
        <h2>You can also learn about programming in general via: <a href="https://www.codecademy.com/" target="_blank">https://www.codecademy.com/</a></h2>
    </div>
</div>